<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.x.xcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 文件写入SD卡权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 相机相册权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.example.x.xcard.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.x.xcard.TestVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.user.LoginVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.user.FindPWVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.user.FindPWNewVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.user.SystemMsg"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.user.FeedBack"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.user.APPContact"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.user.APPConfig"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.user.ChangePwVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.yuangong.YGManageMainVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.yuangong.PowerManageVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.yuangong.AddYGVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.MakeCardVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.ChooseCardTypeVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.InputCardInfoVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.CZMainVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.CZInfoVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.XFInfoVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.huiyuan.HYManageVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.huiyuan.HYUserInfoVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.CZManagerVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.XFManageVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.CZDetailVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.card.XFDetailVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.huodong.HDManageVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.huodong.HDCreateVC"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.xiaoxi.MSGManageVC"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.com.x.xiaoxi.MSGSendMSGVC"
            android:screenOrientation="portrait" >
        </activity>




        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>